main h1 {
  font-size: 35px;
}

.kejuruan, .sponsor, .berita {
  margin-top: 7rem;
}

.kejuruan .card, .berita .card {
  text-align: start;
}


/* Sambutan Section */
.sambutan {
  padding: 12rem 0 2rem;
}

.sambutan .container {
  align-items: center;
  gap: 20px;
}

.sambutan .sambutan-img, .sambutan .sambutan-about {
  flex: 1;
}

.sambutan .sambutan-img {
  display: flex;
  justify-content: center;
}

.sambutan .sambutan-img .thumbnail img {
  border-radius: 5px;
}

.sambutan .sambutan-img .thumbnail {
  border-radius: 10px;
  width: 75%;
  padding: 3px;
  border: 3px solid #ddd;
}

.sambutan .sambutan-about {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sambutan .sambutan-about p {
  text-align: justify;
}

.sambutan .sambutan-about a {
  background-color: #6497b1;
  padding: 13px;
  display: inline-block;
  width: max-content;
  border-radius: 10px;
  color: white;
}
/* Akhir Sambutan Section */


/* Kejuruan Section */
.kejuruan .container {
  flex-direction: column;
  text-align: center;
}

.kejuruan .container-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.kejuruan p {
  font-size: 17px;
  margin: 10px 0 35px;
}

.kejuruan .card {
  color: #eee;
  background-color: #005b96;
}

.kejuruan .card .card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Akhir Kejuruan Section */


/* Sponsor Section */
.sponsor {
 padding: 3rem 0;
  background-color: #011f4b;
}

.sponsor .container {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
/* Akhir Sponsor Section */


/* Berita Terbaru Section */
.berita .card {
  width: 350px;
  /* padding: 0; */
}

.berita .card .card-writter {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.berita .card .card-writter img {
  border-radius: 50%;
  border: 2px solid #011f4b;
  padding: 5px;
}

.berita .card .card-writter .card-writter-name p {
  font-size: 12px;
}
/* Akhir Berita Terbaru Section */




/* ===== Responsive Breakpoint ===== */
/* Tablet */
@media (max-width: 884px) {
  .sambutan {
    padding-top: 10rem;
  }

  .sambutan .container {
    flex-direction: column;
  }

  .sambutan .sambutan-about h2 {
    text-align: center;
  }
}


/* Mobile Phone */
@media (max-width: 576px) {
  .sambutan {
    padding-top: 33rem;
  }

  .sambutan .sambutan-img .thumbnail {
    width: 90%;
  }
}