main h1 {
  font-size: 35px;
}

.kejuruan, .sponsor, .berita, .testimoni {
  margin-top: 10rem;
}

.kejuruan .card, .berita .card {
  text-align: start;
}

.berita h1, .testimoni h1 {
  margin-bottom: 30px;
}

.berita .card .card-writter, .testimoni .card .card-header {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.card .card-name span {
  font-size: 13px;
}

hr {
  height: 7px;
  background-color: black;
}


/* Sambutan Section */
.sambutan {
  padding: 12rem 0 2rem;
}

.sambutan .container {
  align-items: center;
  gap: 20px;
}

.sambutan .sambutan-img, .sambutan .sambutan-about {
  flex: 1;
}

.sambutan .sambutan-img {
  display: flex;
  justify-content: center;
}

.sambutan .sambutan-img .thumbnail img {
  border-radius: 5px;
}

.sambutan .sambutan-img .thumbnail {
  border-radius: 10px;
  width: 75%;
  padding: 3px;
  border: 3px solid #ddd;
}

.sambutan .sambutan-about {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sambutan .sambutan-about p {
  text-align: justify;
}

.sambutan .sambutan-about a {
  background-color: #6497b1;
  padding: 13px;
  display: inline-block;
  width: max-content;
  border-radius: 10px;
  color: white;
}
/* Akhir Sambutan Section */


/* Kejuruan Section */
.kejuruan .container {
  flex-direction: column;
  text-align: center;
}

.kejuruan .container-grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.kejuruan p {
  font-size: 17px;
  margin: 10px 0 35px;
}

.kejuruan .card {
  color: #eee;
  background-color: #005b96;
}

.kejuruan .card .card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Akhir Kejuruan Section */


/* Sponsor Section */
.sponsor {
 padding: 3rem 0;
  background-color: #011f4b;
}

.sponsor .container {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
/* Akhir Sponsor Section */


/* Berita Terbaru Section */
.berita .container-grid {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: 350px;
  overflow-x: scroll;
  gap: 50px;
  padding-bottom: 10px;
}

.berita .container-grid::-webkit-scrollbar {
  display: none;
}

.berita .card {
  background-color: #f7f7f7;
  box-shadow: 3px 5px 8px #333;
}

.berita .card .card-writter img {
  border-radius: 50%;
  border: 2px solid #011f4b;
  padding: 5px;
}

.berita .card > a {
  color: black;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}

.berita .card > a img {
  border-radius: 5px;
}
/* Akhir Berita Terbaru Section */


/* Testimoni Section */
.testimoni .container-grid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px 50px;
}

.testimoni .card {
  border: 2px solid #999;
}

.testimoni .card .card-body p {
  font-size: 14px;
}
/* Akhir Testimoni Section */


/* Footer */
footer {
  margin-top: 15rem;
  padding: 5rem 0;
}

footer a, footer h2 {
  color: #555;
}

footer h2 {
  margin-bottom: 15px;
}

footer .container-grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

footer .informasi-kontak ul li a, footer .socials ul li a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

footer .informasi-kontak ul li a i, footer .socials ul li a i {
  font-size: 20px;
}

footer .informasi-kontak ul li a span, footer .socials ul li a span {
  font-size: 13px;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .container {
  margin-top: 100px;
  justify-content: center;
}

footer .copyright {
  font-size: 14px;
}
/* Akhir Footer */




/* ===== Responsive Breakpoint ===== */
/* Tablet */
@media (max-width: 884px) {
  .sambutan {
    padding-top: 10rem;
  }

  .sambutan .container {
    flex-direction: column;
  }

  .sambutan .sambutan-about h2 {
    text-align: center;
  }
}


/* Mobile Phone */
@media (max-width: 576px) {
  .sambutan {
    padding-top: 33rem;
  }

  .sambutan .sambutan-img .thumbnail {
    width: 90%;
  }
}


/* Mini Mobile Phone */
@media (max-width: 320px) {
  .kejuruan .container-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .berita .container-grid {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-auto-columns: 270px;
  }
}